@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: beige;
    font-family: 'Sofia Sans', sans-serif;
}

header {
    background-color: beige;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.titleNav {
    font-size: 2rem;
    font-weight: bolder;
    color: blue;
}

.linksNav {
    display: flex;
    justify-content: center;
    font-size: large;
    font-weight: bold;
}

.links {
    color: blue;
    text-decoration: none;
}

.cart {
    color: red;
    text-decoration: none
}

h2 {
    font-size: 3rem;
    font-weight: bold;
}

h3 {
    font-size: 3rem;
    font-weight: bold;
}

h4 {
    font-size: 2rem;
    font-weight: bold;
}

.card {
    width: 50%;
}

.cartaImg {
    aspect-ratio: 3/2;
    object-fit: contain;
}